spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/imn5100/spring-cloud-demo
          search-paths: config
          username:
          password:
#  本地文件配置
#  cloud:
#    config:
#      server:
#        native:
#          searchLocations: /Users/imn5100/code/privateCode/spring-boot-cloud-test/config
#  profiles:
#    active: native

server:
  port: 8100

eureka:
  client:
    serviceUrl:
      defaultZone: http://peer1:8000/eureka/


